{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %} Home {% endblock %}

{% block content %}
	
	<div class="content">
		<div class="content">
			<div class="row row-cols-1 row-cols-md-2 g-4 special">
				<div class="col">
					<div class="card bg-dark">
						<a class="card-block stretched-link" href="/merchstore/items">
							<img src="{% static 'images/merchstore.jpg' %}" class="card-img" alt="...">
							<div class="card-img-overlay card-body text-white align-middle">
							<br><br><h1 class="card-title text-center"> MERCHSTORE </h1>
							</div>
						</a>
					</div>	
				</div>
				<div class="col">
					<div class="card bg-dark">
						<a class="card-block stretched-link" href="/commissions/list">
							<img src="{% static 'images/commissions.jpg' %}" class="card-img" alt="...">
							<div class="card-img-overlay card-body text-white">
							<br><br><h1 class="card-title text-center"> COMMISSIONS </h1>
							</div>
							</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
{% endblock %}

