{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %} Commission - {{ commission.title }} {% endblock title %}

{% block content%}

	<div class="content">
		
		<h3> {{ commission.title }} </h3>
			 {{ commission.description }} <br> <br>
		     People required: {{ commission.people_required }} <br>
			 Updated on: {{ commission.updated_on }} <br> <br>
			 
			 <a href="{% url 'commissions:edit' pk=commission.pk %}"> Update this commission </a> <br><br> 
			 
        <b> Comments </b>
        <ul>
			{% if comments %}
				{% for comment in comments %}
				    	{{ comment.entry }} <br>
						{{ comment.created_on }} <br> <br>
				{% endfor %}
			{% else %}
				No comments yet.
			{% endif %}
        </ul>
		
	</div>
	
{% endblock %}