{% extends 'base.html' %}

{% block title %} Add a commission {% endblock title %}

{% block content%}
		
	<div class="content">
        <h2> Commissions </h2>
        <ul>
			{% if commissions %}
				{% for commission in commissions %}
	                <a href="{{ commission.get_absolute_url }}"> {{ commission.title }} </a> <br>
					{{ commission.description }} <br><br>
	            {% endfor %}
			{% else %}
				No commissions at this time. <br>
			{% endif %}
		
			<a href= "{% url 'commissions:add' %}" > Add a Commission </a>
        </ul>
	</div>
		
{% endblock %}