{% extends 'base.html' %}

{% block title %} Products {% endblock title %}

{% block content%}
		
	<div class="content">
		
        <h2> Products </h2>
		<ul>
			{% if products %}
				{% for type in product_types %}
					<b> {{ type }} </b> <br> 
					<ul>
						{% for product in products %}
							{% if product.product_type == type %}
			                	<li> <a href="{{ product.get_absolute_url }}"> {{ product.name }} </a></li> 
							{% endif %}
						{% endfor %}
					</ul>
					
				{% endfor %}
			{% else %}
				No products at the moment. <br>
			{% endif %}
			
			<br><a href= "{% url 'merchstore:add' %}" > Add a product </a>
			<br><a href= "{% url 'merchstore:transactions' %}" > View transactions </a>
        </ul>

	</div>
	
{% endblock %}