{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %} {{ product.product_type }} - {{ product.name }} {% endblock title %}

{% block content %}
	
	<div class="content">

        <h4> {{ product.name }} </h4>
        <ul>
			{{ product.product_type }} <br>
			{{ product.description }} <br> 
			{{ product.price }} <br>
			{{ product.stock }} <br>
			{{ product.status }} <br>
			
			{% if product.owner == logged_user %}
				<a href="{% url 'merchstore:update' pk=product.pk %}"> Update this product </a> 
			{% endif %}
        </ul>
		
		{% if product.owner != logged_user %}
			<div class="content" style="width:800px;">
				<h5> Buy this product </h5>
				<form method="POST">
					{% csrf_token %}
					{% bootstrap_form form set_placeholder=False %}
					<button type="submit" class="button"> Place order </button>
				</form>
			</div>
		{% endif %}
		
	</div>
	
{% endblock %}
