<html>
    <head>
        <title>Products</title>
    </head>
    <body>
        <h2> Products </h2>
		{% for type in product_types %}
			&emsp; {{ type }} <br>
			
			<ul>
				{% if products %}
					{% for product in products %}
						{% if product.product_type == type %}
		                	<li> <a href="{{ product.get_absolute_url }}"> {{ product.name }} </a></li> 
						{% endif %}
					{% endfor %}
				{% else %}
					No products available.
				{% endif %}
			</ul>
			
		{% endfor %}
        
    </body>
</html>