{% extends 'base.html' %}

{% block title %} Transactions {% endblock title %}

{% block content%}
		
	<div class="content">
		
        <h2> Transactions </h2>
		<ul>
			{% if seller_transactions %}
				{% for transaction in seller_transactions %}
					{{ transaction.buyer }} | <a href="{{ transaction.product.get_absolute_url }}"> {{ transaction.product }} </a> | {{ transaction.amount }} | {{ transaction.status }} | {{ transaction.created_on }} <br>
				{% endfor %}
			{% else %}
				No transactions yet. <br>
			{% endif %}
			
        </ul>

	</div>
	
{% endblock %}