{% extends 'base.html' %}

{% block title %} Transactions {% endblock title %}

{% block content%}
		
	<div class="content">
		
        <h2> Transactions </h2>
		
		<div style="margin: 24px;">
			{% if seller_transactions %}
			<table class="table">
			  	<thead>
			    	<tr>
						<th scope="col"> Buyer </th>
					    <th scope="col"> Product </th>
					    <th scope="col"> Quantity </th>
					    <th scope="col"> Status </th>
						<th scope="col"> Date </th>
			    	</tr>
			  	</thead>
			  	<tbody>
				{% for transaction in seller_transactions %}
					<tr>
				      	<td> {{ transaction.buyer }} </th>
				      	<td> <a href="{{ transaction.product.get_absolute_url }}"> {{ transaction.product }} </a> </td>
				      	<td> {{ transaction.quantity }} </td>
				      	<td> <span class="badge bg-warning text-dark"> {{ transaction.status }} </span> </td>
					  	<td> {{ transaction.created_on }} </td>
					</tr>
				{% endfor %}
			  	</tbody>
			</table>
			{% else %}
				No transactions yet. <br>
			{% endif %}
		</div>
	</div>
	
{% endblock %}