{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %} Password Reset {% endblock title %}

{% block content %}

	{% if validlink %}

		<p> Please enter your new password twice so we can verify you typed it in correctly. </p>

		<div style="width:400px;"> <br>
			<form method = "POST"> 
				{% csrf_token %}
				{% bootstrap_form form %}
				<button type="submit"> Reset my password </button>
			</form>
		</div>

	{% else %}

		<p> The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

	{% endif %}

{% endblock %}
